{% extends 'navprayas/base.html' %}
{% block title %}PSR registration {% endblock %}

{% load crispy_forms_tags %}
{% block navigation %} {% endblock %}
{% block content %}
<section class="section-gap achivement-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10">
          <div class="achivement-content">
                <h1>Redirecting you to the merchant....</h1>
                <h1>Please do not refresh your page....</h1>
                <form action="https://securegw.paytm.in/theia/processTransaction" method="post" name="paytm">
                    {% for key, value in param_dict.items %}
                    <input type="hidden" name="{{key}}" value="{{value}}">
                    {% endfor %}
                
                </form>
          </div>
        </div>

      </div>
    </div>
  </section>

    <script>
        document.paytm.submit()
    </script>
 {% endblock %}

 {% block contact %}{% endblock %}
{% block footer %}{% endblock %}
