{% extends 'navprayas/base.html' %}
{% load static %}

{% block title %}Navprayas About{% endblock %}

{% block content %}

		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="generic-banner relative">
			<div class="container" style="overflow-y:auto;">
				<div class="row height align-items-center justify-content-center">
					<div class="col-lg-10">
						<div class="banner-content text-center">
							<h2>About Navprayas</h2>
								<p>
								<strong>'NAVPRAYAS’</strong>, a Hindi word which means ‘New effort’ , is a voluntary organisation established in the year 2000 with the motive of the upliftment of the native society (Manpur Patwatoli) in the educational, society and moral aspects. It is a team of society students studying in different colleges under various streams across the globe.<br><br>
								This group allows us to think together in better way for spreading the light of education, matching the present scenario and other technical/non-technical developments in Manpur. We as a team leave no stone unturned in honouring them who set a milestone in dignifying our society through their dormant achievements. We, group of positive thinkers, feel that a lot needs to be done, can be done & should be done to bring it at par with rest of society.
								</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
	

	
{% endblock %}



