{% extends 'navprayas/base.html' %}
{% load static %}

{% block title %}Navprayas Events{% endblock %}

{% block content %}
<!-- Start Achivement Area -->
<section class="section-gap achivement-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="achivement-content">
					<h2>Our Events</h2>
					<p class="mb-30">We think together in better way for spreading the light of education, matching the present
							scenario and other technical/non-technical developments in Manpur. We as a team leave no stone unturned in
							honouring them who set a milestone in dignifying our society through their dormant achievements. We, group of
							positive thinkers, feel that a lot needs to be done, can be done & should be done to bring it at par with rest of
							society.
							Every year, it adds new members with hidden dedications pouring into various events to make it a grand success.
							Since the inception of Navprayas, following events have been organized under its banner.</p>
					<a href="#gallery" class="primary-btn">Take a glimpse at our events!<span class="lnr lnr-arrow-right"></span></a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="total-achivement">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-achivement">
								<a href="#mtse" class="achivement-link">
									<i class="fa fa-pencil-square-o"></i>
								</a>
								<h6><a href="#mtse">MTSE</a></h6>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-achivement">
								<a href="#puzzlerace" class="achivement-link">
									<i class="fa fa-clock-o"></i>
								</a>
								<h6><a href="#puzzlerace">Puzzle Race</a></h6>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-achivement">
								<a href="#chess" class="achivement-link">
									<i class="fa fa-user"></i>
								</a>
								<h6><a href="#chess">Chess Competition</a></h6>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-achivement">
								<a href="#rangotsav" class="achivement-link">
									<i class="fa fa-snowflake-o"></i>
								</a>
								<h6><a href="#rangotsav">Rangotsav</a></h6>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-achivement">
								<a href="#fhs" class="achivement-link">
									<i class="fa fa-paint-brush"></i>
								</a>
								<h6><a href="#fhs">Free hand sketching</a></h6>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-achivement">
								<a href="#spr" class="achivement-link">
									<i class="fa fa-pencil"></i>
								</a>
								<h6><a href="#spr">Poem & Story writing</a></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Achivement Area -->
<section class="about-generic-area" id="mtse">
		<div class="overlay overlay-bg"></div>
		<div class="container border-top-generic">
			<h3 class="about-title mb-70 text-white">MTSE</h3>
			<div class="row">
				<div class="col-md-12">
					<div class="img-text">
						
						<p class="text-white">MTSE which stands for Manpur Talent Search Examination, is the flagship event of Navprayas. This is the one of the regular events of Navprayas conducted each year to ignite the flame of competition
								from junior classes itself. We have objective type question paper and GD/Extempore/speech and interview in the
								first and second round respectively for classes 5 to 10.<br><br>
						Eligibilty - <br>1. Students should be a citizen of India.<br>2. Participants should be enrolled in any Educational Institutions(schools/coaching).<br>3. Students currently studing in class 5 to 10 are allowed to enroll for this examination.<br>
						<br>Exam pattern - Objective type Questions<br>
						Stages - 2(Mains and Internview)<br>
						Mode of examination -Offline(Pen & Paper)<br>
						Language - Hindi and English<br>
						Syllabus - Maths, Science, Social Science, English, General Reasoning from respective classes.<br>
						Registeration fee - 25.00 INR per candidate<br>
						<strong>Important Dates</strong><br>
						Deadline for registration - 3 June 2019<br>
						Date of examination( !st Stage) - 9 June 2019
						</p>
						<a href="/MTSE_register/" class="genric-btn primary circle">Apply now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-generic-area" id="puzzlerace">
			<div class="overlay overlay-bg"></div>
			<div class="container border-top-generic">
				<h3 class="about-title mb-70 text-white">Puzzle Race</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="img-text">
							<p class="text-white">This event is organised for the students of the class 7 to 10. Main objective of this event is to
									develop the ability of puzzle solving skills among students.<br><br>
									Eligibilty - <br>1. Students should be a citizen of India.<br>2. Participants should be enrolled in any Educational Institutions(schools/coaching).<br>3. Students currently studing in class 7/8/9/10 are allowed to enroll for this examination.<br>
									<br>Exam pattern - Objective type Questions<br>
									Mode of examination - Offline(Pen & paper)<br>
									Language - Hindi & English<br>
									Stages - 1<br>
									Team members - 3(max.) and 2(min.)<br>
									Teams - <br>
									Junior : VII & VIII
									Senior : IX & X
									Syllabus - Maths & General Reasoning<br>
									Registeration fee - 40.00 INR per team<br>
									<strong>Important Dates</strong><br>
									Deadline for registration - 29 May 2019<br>
									Date of examination - 2 June 2019
								</p>
								<a href="/PR_register/" class="genric-btn primary circle">Apply now</a>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<section class="about-generic-area" id="chess">
				<div class="overlay overlay-bg"></div>
				<div class="container border-top-generic">
					<h3 class="about-title mb-70 text-white">Chess Competition</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="img-text">
								<p class="text-white">Blitz chess competition is organised for all chess enthusiasts.<br>
								Eligibility - Open for all.<br>
								Fee - 15.00 INR per candidate<br>
								Groups - <br>
								G1 (Upto 13 years)<br>
								G2 (14-17 years)<br>
								G3 (Above 17 years)<br><br>
								Rules - <br>
								1. Touch-move<br>
								2. All the players must observe code of conduct that is common for all the players<br>
								3. Chess players should bring their own chess board and pieces. In case one doesn't have chess board, we'll try to provide one.<br>
								<strong>Important Dates</strong><br>
									Deadline for registration - 21 June 2019<br>
									Date of Competition - 23 June 2019<br>
								</p>
								<a href="/chess_register/" class="genric-btn primary circle">Apply now</a>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<section class="about-generic-area" id="fhs">
					<div class="overlay overlay-bg"></div>
					<div class="container border-top-generic">
						<h3 class="about-title mb-70 text-white">Free hand sketching</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="img-text">
									<p class="text-white">It has been introduced by Navprayas group since 2008. It is the most interesting and
											creative event among students to involve them in creative ideas through painting, sketching and took their attention
											on social, environmental and political problems apart from their regular studies.
											<br><br> Eligibilty -<br>
											1. Candidate should be a citizen of India.<br>
											2. Participants should be enrolled in any Educational Institutions(schools/coaching).<br>
											3. Students from class V to class X<br><br>
											Prizes will be given in two categories/groups - <br>
											G1 (V,VI,VII)<br>
											G2 (VIII,IX,X)<br>
											Fee - 10.00 INR per candidate
											<br> Rules - <br>
											1. Use of Pen, colors, electronic gadgets, cheats etc. are not allowed inside hall of examination.<br>
											2. The art should be related to any themes provided by Navprayas Team.<br>
											<strong>Important Dates</strong><br>
											Deadline for registration - 22 May 2019<br>
											Date of Competition - 26 May 2019<br> 
										</p>
										<a href="/FHS_register/" class="genric-btn primary circle">Apply now</a>
										</div>
							</div>
							
						</div>
					</div>
				</section>
				<section class="about-generic-area" id="spr">
						<div class="overlay overlay-bg"></div>
						<div class="container border-top-generic">
							<h3 class="about-title mb-70 text-white">Poem & story writing</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="img-text">
										<p class="text-white">This competition is for everyone who has their way with words, and a penchant for writing.<br>
										<br>Eligibility - Open for all.<br>
										Fee - Free of cost.<br>
										Groups-<br>
										G1 (Upto 13 years)<br>
										G2 (Above 13 years)<br>
										<br> Mode of submission -<br>
										Online (Write your poem/story and mention your name, contact no., Address and mail us at navprayas.np2000@gmail.com on or before deadline)<br>
										Offline (Write your poem/story on a paper and mention your name, contact no., address and submit it at Navprayas office on or before deadline)<br>
										<br><strong>Important dates</strong><br>
										Deadline for submission - 3 June 2019 (11:59:59 PM)<br></p>
										<a href="/SPR_register/" class="genric-btn primary circle">Apply now</a>
									</div>
								</div>
								
							</div>
						</div>
					</section>
					<section class="about-generic-area" id="rangotsav">
							<div class="overlay overlay-bg"></div>
							<div class="container border-top-generic">
								<h3 class="about-title mb-70 text-white">Rangotsav</h3>
								<div class="row">
									<div class="col-md-12">
										<div class="img-text">
											<p class="text-white">Colours are the best way to express human emotion. <br>Rangotsav,an initiative by Navprayas team, inspires and enables to use colours in different innovative and passionate ways to spread messages of social relevance.
										<br><br>Eligibility- Open for all<br>
										Fee - Free of cost.<br>
										(Candidates are allowed to participate in teams only.)<br>
										Groups - <br>
										G1 (Below 13 years)<br>
										G2 (Above or equal to 13 years)<br>
										<br>
										<strong>Important Dates</strong><br>
										Deadline for registration - 18 May 2019<br>
										Date of Competition - 19 May 2019<br>
										</p>
										<a href="/rangotsav_register/" class="genric-btn primary circle">Apply now</a>
										</div>
									</div>
									
								</div>
							</div>
						</section>

						<section class="white-bg" id="gallery">
								<div class="container">
									<div class="section-top-border">
										<h3>Gallery</h3>
										<div class="row gallery-item">
											<div class="col-md-4">
												<a href="{% static 'img/a3.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/a3.png' %});"></div></a>
											</div>
											<div class="col-md-4">
												<a href="{% static 'img/a4.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/a4.png' %});"></div></a>
											</div>
											<div class="col-md-4">
												<a href="{% static 'img/welcome.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/welcome.png' %});"></div></a>
											</div>
											<div class="col-md-6">
												<a href="{% static 'img/gpl.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/gpl.png' %});"></div></a>
											</div>
											<div class="col-md-6">
												<a href="{% static 'img/g4.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g4.png' %});"></div></a>
											</div>
											<div class="col-md-4">
												<a href="{% static 'img/g6.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g6.png' %});"></div></a>
											</div>
											<div class="col-md-4">
												<a href="{% static 'img/g1.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/g1.png' %});"></div></a>
											</div>
											<div class="col-md-4">
												<a href="{% static 'img/dhal.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/dhal.png' %});"></div></a>
											</div>
										</div>
									</div>
									</div>
								</section>	

{% endblock %}