{% extends 'navprayas/base.html' %}
{% load static %}

{% block title %}Navprayas Home{% endblock %}
			
{% block content %}

	<!-- Start Banner Area -->

	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-between">
				<div class="col-lg-6 col-md-7 col-sm-8">
					<div class="banner-content">
						<h1 style="font-family: algerian">NAVPRAYAS</h1>
						<h3 style="font-family: algerian">(A GROUP OF INNOVATIVE THOUGHTS)</h3>
						<p>Student-run non-profit voluntary organisation to promote development of society</p>
						<a href="/about" class="primary-btn">Know more<span class="lnr lnr-arrow-right"></span></a>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-4">
					<img src="{% static 'img/banner1.png' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<!-- Start Achivement Area -->
	<!-- End Skill Area -->
	<!-- Start Carousel Area -->
	<section class="section-gap carousel-area">
		<div class="overlay overlay-bg"></div>
		<div class="active-bottle-carousel">
			<div class="item">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-md-4">
							<div class="carousel-thumb">
								<img src="{% static 'img/c1.png' %}" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-xl-6 col-md-7">
							<div class="carousel-content">
								<h2 class="text-white">Pratibha Milan 2018</h2>
								<h5 class="text-white mb-20">A gala to honor</h5>
								<p class="text-white mb-30">The Prize Distribution ceremony for the appreciation of qualified students in competitive exams like UPSE, IIT-JEE (Advanced), AIIMS, AIPMT, JEE Main, CAT, GRE, SSC, Bank-PO, etc. and for the winners of MTSE and other events organised by Navprayas every year, which is jointly known as “PRATIBHA MILAN”.</p>
								<a href="\events#gallery" class="primary-btn white">View More<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-md-4">
							<div class="carousel-thumb">
								<img src="{% static 'img/rangoli.png' %}" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-xl-6 col-md-7">
							<div class="carousel-content">
								<h2 class="text-white">Rangotsav 2018</h2>
								<h5 class="text-white mb-20">Rangoli Competition</h5>
								<p class="text-white mb-30">Rangotsav 2019,orgainsed by Navprayas team, witnessed a huge increment in participations this year. We work around different themes and ideas to spread social messages and progess towards social upliftment.<br>
								The themes were Hariyali(Greenery), Sab padhe Sab badhe (Education for all), Pradushan(Pollution), Khel(sports).
								Within one hour, their unspoken words got embedded on the floor with their cheerful emotions making them alive. Their hardwork, creativity and dedication 
altogether spread messages of societal construction.
								</p>
								<a href="\events#gallery" class="primary-btn white">View More<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-md-4">
							<div class="carousel-thumb">
								<img src="{% static 'img/counselling.png' %}" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-xl-6 col-md-7">
							<div class="carousel-content">
								<h2 class="text-white">Career Counselling</h2>
								<h5 class="text-white mb-20">8 June 2018</h5>
								<p class="text-white mb-30">To build career in one's life, one needs the right guidance to acheive success.

									So, This time Navprayas Team organised career counselling for class 10th students and 10th passed students to provide right guidance to help students to choose their right career path in their life.
									Career paths in different sector like Engineering, Medical, Arts, Commerce etc. were explained to the students so that they can choose their path wisely.
									Thanks to students for their great response and also special thanks to Ravi Ranjan, Aashish Kumar, Amandeep Kumar, Rupa Kumari and all other speakers who guided the students.</p>
								<a href="\events#gallery" class="primary-btn white">View More<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-md-4">
							<div class="carousel-thumb">
								<img src="{% static 'img/mtse.png' %}" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-xl-6 col-md-7">
							<div class="carousel-content">
								<h2 class="text-white">MTSE 2018</h2>
								<h5 class="text-white mb-20">Our flagship event</h5>
								<p class="text-white mb-30">10 June 2018 : MTSE(Manpur Talent Search Examination) was successfully organised with a huge participation of 1400+ students.
									Objective type questions from General reasoning, Maths, Science, Social science etc. were included in the paper for students from class 5 to class 10.
									With a time limit for 3 hours, some students showed their academic excellence by solving more questions efficiently. 
								</p>
								<a href="\events#gallery" class="primary-btn white">View More<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Carousel Area -->
{% endblock %}







	