{% extends 'navprayas/base.html' %}
{% load static %}

{% block content %}
		<!-- Start Banner Area -->
		<section class="section-gap achivement-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="achivement-content">
							<h2>Notifications</h2>
							<div data-type="AwesomeTableView" data-viewID="-LcPMFkUhmgDvWdGJRLX"></div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End Banner Area -->

{% endblock  %}
