{% extends 'navprayas/base.html' %}
{% block title %}MTSE registration{% endblock %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<section class="generic-banner relative">
    <div class="container" style="overflow-y:auto;">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="banner-content text-center">
                    <h2>You have already filled the application.</h2>
                        <p>
                        <strong><a href="#linkforpayment">Click here to proceed for payment</a></strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock  %}
