{% extends 'navprayas/base.html' %}
{% load static %}

{% block content %}
		<!-- Start Banner Area -->
        <section class="generic-banner relative">
                <div class="container" style="overflow-y:auto;">
                    <div class="row height align-items-center justify-content-center">
                        <div class="col-lg-10">
                            <div class="banner-content text-center">
                                <h2>You have already applied!</h2>
                                    <p>
                                    <strong><a href="/index">Go to homepage</a></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock  %}
