{% extends 'navprayas/base.html' %}
{% load static %}

{% block title %}Navprayas Team{% endblock %}


{% block content %}

		<!-- Start Banner Area -->
		<section class="generic-banner element-banner relative" style="background-color: white;">
			<div class="container">
				<div class="row height align-items-center justify-content-center" style="background-color: white;">
					<div class="col-lg-10">
						<div class="banner-content text-center">
							<h2 class="text-black">Meet Our Team</h2>
							<p class="text-black">It's all about the team finally!</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		<!-- Start Sample Area -->
		<!-- End Sample Area -->
		<!-- Start Button -->
		
		<!-- End Button -->
		<!-- Start Align Area -->
		<div class="white-bg">
			<div class="container">
				<div class="section-top-border">
					<h3>Team 2018</h3>
					<div class="row gallery-item">
						<div class="col-md-3">
							<a href="{% static 'img/members/kedar.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/kedar.jpg' %});"></div></a>
							<p class="text-center">Kedar Nath</p>
							<p class="text-center">IIT Guwahati</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/pawan.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/pawan.jpg' %});"></div></a>
							<p class="text-center">Pawan Kumar</p>
							<p class="text-center">IIIT Allahabad</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/raju.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/raju.jpg' %});"></div></a>
							<p class="text-center">Raju Ranjan</p>
							<p class="text-center">IIT BHU</p>
							<p class="text-center">Organising Head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ranjan.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ranjan.jpg' %});"></div></a>
							<p class="text-center">Ranjan Kumar</p>
							<p class="text-center">IIT ISM Dhanbad</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/sushish.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/sushish.jpg' %});"></div></a>
							<p class="text-center">Sushish Kumar</p>
							<p class="text-center">IIT BHU</p>
							<p class="text-center">Organising Head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/akash.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/akash.jpg' %});"></div></a>
							<p class="text-center">Akash Kumar</p>
							<p class="text-center">MNNIT Allahabad</p>
							<p class="text-center">Organising Head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/govind.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/govind.jpg' %});"></div></a>
							<p class="text-center">Govind Nath</p>
							<p class="text-center">NIT Surathkal</p>
							<p class="text-center">Organiser</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/abhay.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/abhay.png' %});"></div></a>
							<p class="text-center">Abhay Kumar</p>
							<p class="text-center">NIT Hamirpur</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/rupa.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/rupa.png' %});"></div></a>
							<p class="text-center">Rupa Kumari</p>
							<p class="text-center">ICPW, Delhi</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/madhu.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/madhu.jpg' %});"></div></a>
							<p class="text-center">Madhu Kumari</p>
							<p class="text-center">SRCC, Delhi</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/amar.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/amar.png' %});"></div></a>
							<p class="text-center">Amar Kumar</p>
							<p class="text-center">IIITDM, Chennai</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ravishankar.png' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ravishankar.png' %});"></div></a>
							<p class="text-center">Ravishankar</p>
							<p class="text-center">RCC, Kolkata</p>
							<p class="text-center">Organiser</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/vineet.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/vineet.jpg' %});"></div></a>
							<p class="text-center">Vineet Kumar</p>
							<p class="text-center">IIT Kanpur</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/budhdev.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/budhdev.jpg' %});"></div></a>
							<p class="text-center">Budhdev</p>
							<p class="text-center">College Name</p>
							<p class="text-center">Organiser</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/gautam.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/gautam.jpg' %});"></div></a>
							<p class="text-center">Gautam Raj</p>
							<p class="text-center">NIT Trichy</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ranveer.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ranveer.jpg' %});"></div></a>
							<p class="text-center">Ranveer Kumar</p>
							<p class="text-center">NIT Durgapur</p>
							<p class="text-center">Organising Head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ranveer.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ranveer.jpg' %});"></div></a>
							<p class="text-center">Dauleshwar</p>
							<p class="text-center">NIT Durgapur</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ranveer.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ranveer.jpg' %});"></div></a>
							<p class="text-center">Saroj Kumar</p>
							<p class="text-center">IIT Delhi</p>
							<p class="text-center">Organising head</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ranveer.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ranveer.jpg' %});"></div></a>
							<p class="text-center">Anand Kumar</p>
							<p class="text-center">CGC</p>
							<p class="text-center">Coordinator</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ranveer.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ranveer.jpg' %});"></div></a>
							<p class="text-center">Satyam Kumar</p>
							<p class="text-center">IIT Guwahati</p>
							<p class="text-center">Organiser</p>
						</div>
						<div class="col-md-3">
							<a href="{% static 'img/members/ranveer.jpg' %}" class="img-pop-up"><div class="single-gallery-image" style="background: url({% static 'img/members/ranveer.jpg' %});"></div></a>
							<p class="text-center">Sumit Kumar</p>
							<p class="text-center">IIT Kanpur</p>
							<p class="text-center">Organiser</p>
						</div>
					</div>
				</div>
			</div>
		</div>
			
{% endblock  %}


