{% extends 'navprayas/base.html' %}
{% block title %}Logout{% endblock %}

{% block content1 %}

<section class="section-gap achivement-area">
        <div class="container">
                <div class="row align-items-center">
                        <div class="col-lg-5">
                                <div class="achivement-content">
                                        <h2>logged out</h2>
                                </div>
                        </div>

                </div>
        </div>
</section>

{% endblock %}
{% block contact %}{% endblock %}
{% block footer %}{% endblock %}