{% extends 'navprayas/base.html' %}
{% block title %}Navprayas Sign Up{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br>


  {%if user.is_authenticated%}
    <script>
      window.location.assign("/");
    </script>
  {%endif%}

  <section class="section-gap achivement-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="achivement-content">
							<h2>Create an account</h2><hr>
							<form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {{ form2|crispy }}
            
                <br><br><br>
              
              <button class="btn btn-danger" type="submit">Sign up</button>
            
              </form>
              <hr/>
                <small>Already Have an Account !!</small> <a href={% url 'login' %} style="color:red">Sign In</a> 
						</div>
					</div>

				</div>
			</div>
		</section>
{% endblock  %}

<!-- If u dont want footer and contact no need to write these lines below -->
{% block contact %}{% endblock %}
{% block footer %}{% endblock %}











