{% extends 'navprayas/base.html' %}
{% block title %}PR registration{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<section class="section-gap achivement-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10">
          <div class="achivement-content">
            <h3>Puzzle Race</h3>
            <p><a href="/events#puzzlerace"><b> Cick here</b> </a>to know more about this event.</p>
              <form method="POST" id="formPR">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}  alert-dismissible fade show" role = "alert">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                  {% csrf_token %}
                  {{form|crispy}}

                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal">Submit</button>
                </form> 
                <br><br><br><b>Note :</b><br>
                <p class="text-muted">* marked are all mandatory fields <br>
                  Please confirm before submit <br>
                  Candidate 3 is optional <br>
                  fill the details in respective fields provided <br>
                  Team should be either Junior or Senior (Select approriate class)


              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}

 {% block contact %}{% endblock %}
{% block footer %}{% endblock %}
